$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
// variables for colors
$white: #ffffff;
$black: #151515;
$grey: #444444;
$brown: #d5966c;
// variables for fonts
$font-title: "Big Shoulders Display", sans-serif;
$font-body: "Outfit", sans-serif;
